@import url('https://fonts.googleapis.com/css2?family=Inter&family=Raleway:wght@400;500&display=swap');

@font-face {
    font-family: MuseoSans;
    src: url(../Asset/Fonts/MuseoSans/MuseoSans_500.otf);

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    background: #f7f7f7;
    font-family: museoSans, Inter, Arial, sans-serif;
}

nav {
    width: 100%;
    height: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border-bottom: 1px solid #f0f0f0;
    padding-inline: 40px;
}

.nav-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 40px;
}

.logo {
    min-width: 116px;
    height: 24px;
    cursor: pointer;
}

.menu-icon {
    width: 28px;
    height: 18px;
    position: relative;
    cursor: pointer;
    display: none;
    border: none;
    background-color: transparent;
}

.menu-icon span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #282828;
    transition: transform 0.3s ease-in-out;
    border-radius: 30px;
}

.menu-icon span:nth-child(1) {
    top: 0;
}

.menu-icon span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}

.menu-icon span:nth-child(3) {
    bottom: 0;
    width: 70%;
}

.logo>svg {
    width: auto;
    height: 100%;
}

.nav-left a,
.nav-right a {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    text-decoration: none;
    font-size: 13.8px;
    color: #545454;
    transition: .3s ease-in;
    filter: contrast(1.3);
}

.fa-angle-down {
    margin-left: 8px;
    vertical-align: middle;
}

.submitbtn {
    border: 1px solid #545454;
    height: 32px;
    padding: 5px 16px;
    border-radius: 16px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-left>a:hover {
    color: #282828;
}

.nav-right {
    display: flex;
    flex-direction: row;
    column-gap: 40px;
}

.nav-right i {
    color: #727272;
    font-size: 14px;
    margin-right: 10px;
    filter: contrast(0.4);
}

.tools {
    display: flex;
    align-items: center;
    justify-content: center;
}
#mySidebar{
    width: 60%;
    position: fixed;
    display:flex;
    flex-direction: column;
    max-width: 344px;
    height: 100%;
    background-color: #fff;
    top: 0;
    left: -60%;
    z-index: 20;
    transition: 0.7s ;
    padding-bottom: 40px;
    /* box-shadow: 0 -24px 38px rgba(40,40,40,.12), 0 -9px 46px rgba(40,40,40,.08), 0 -11px 15px rgba(40,40,40,.04); */
}
.asideheader{
    padding: 19.4px 30px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 20px;
}
.asideheader i{
    font-size: 20px;
    color: #545454;
}
.asidebody{
    padding: 16px;
    display: flex;
    flex-direction: column;
}
.asidebody>a{
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #6b6b6b;
    text-decoration: none;
    padding: 24px 0 24px 20px;
    white-space: nowrap;
    letter-spacing: 1px;
}
.asidebody>.submitbtn{
    padding: 5px 16px;
    width: 80%;
    margin-inline: auto;
    margin-top: 45px;
    white-space:pre-wrap;

}
.asidebody .fa-angle-right{
    margin-left: 20px;
    opacity: .8;
}
.navaside>.asidefooter{
    display: none;
    flex-direction: column;
    padding-left: 16px;
}
.asidefooter>a{
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: #6b6b6b;
    transition: .3s ease-in;
    filter: contrast(1.3);
    padding: 15px 20px;
}
.asidefooter>a>i{
    padding-right: 20px;
}
.section1 {
    width: 79.3%;
    margin-inline: auto;
}

.searchbar {
    height: 80px;
    width: 100%;
    margin-block: 48px;
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #d5d5d5;
    border-radius: 8px;
    padding: 0 16px;
    transition: box-shadow .48s cubic-bezier(.37, .74, .15, 1);

}

.searchbar>i {
    font-size: 23px;
    color: #545454
}

.searchbar>input {
    margin-left: 16px;
    height: 100%;
    width: 100%;
    text-indent: 2px;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 16px;
    color: #282828;


}

.searchbar>input::placeholder {
    color: #727272;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.4px;
}

.layout {
    display: flex;
    justify-content: space-between;
}

.layoutmain {
    width: 70%;
    max-width: 698.31px;
    display: flex;
    flex-direction: column;
}

.layoutheader {
    font-size: 32px;
    font-weight: 500;
    color: #282828;
    margin-bottom: 24px;
}

.layoutheader>span {
    font-family: museoSans;
}

.toolsfilter {
    position: relative;
    width: 100%;
    display: flex;
    margin-bottom: 32px;
    align-items: flex-start;
    border-bottom: 1px solid #d5d5d5;
    white-space: nowrap;
    overflow-x: hidden;
}

.toolsfilter>button {
    border: none;
    margin-inline: 12px;
    padding-block: 16px;
    font-size: 15.7px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    color: #6b6b6b;
    background-color: transparent;
    cursor: pointer;
}

.toolsfilter>button:active,
.toolsfilter>button:hover {
    color: #282828;
    font-weight: 500;
    border-bottom: 2px solid #282828;
}

.toolsfilter button:first-child {
    margin-left: 0;
}

.more>i {
    vertical-align: middle;
    font-size: 16px;
}

.toolscardmain {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

.toolscard {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.toolscard>.logo {
    width: 116.5px;
    height: 116.5px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toolscard>.logo>img {
    width: 60px;
    height: 60px;
}

.toolscard>.cardcontent {
    font-family: 'Raleway', sans-serif;
    padding-left: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 8px;
    max-width: 570px;
}

.p1 {
    font-weight: bold;
    font-size: 12px;
    letter-spacing: .01rem;
}

.cardcontent>h3 {
    font-weight: bold;
    font-size: 18px;
    letter-spacing: .03rem;
}

.cardcontent>.p2 {
    color: #545454;
    font-weight: 400;
    font-size: 15px;
}
.savedwrapper{
    padding-left: 10px;
    
    background-color: #fff;
}
.saved{
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    width: 57px;
    background-color: #fff;
    padding: 3px 8px;
    border-radius: 24px;
    border: 1px solid #282828;
    height: 37px;
    justify-content: center;
    align-items: center;
}
.bookmark {
    padding-left: 20px;
}

.bookmark>svg {
    cursor: pointer;
}

.bookmark:active,.bookmark:hover  path {
    fill: #0b4ded;
}

.layoutaside {
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.mytools {
    margin-bottom: 30px;
    text-underline-offset: 10px;
    color: #282828;
    text-decoration: underline solid #565555 2px;

}

.toolspart {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.tool {
    width: 285px;
    height: auto;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #fff;
    border-radius: 10px;
}

.toolheaders {
    display: flex;
    flex-direction: column;

}

.toolheaders>p {
    font-size: 12px;
    color: #a7a7a7;
    text-transform: uppercase;
    padding-bottom: 5px;
}

.toolheaders>h4 {
    color: #282828;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
}

.tool>i {
    color: #a7a7a7;
}



@media screen and (max-width: 1024px) {
    .layoutaside {
        display: none;
    }

    .layoutmain {
        width: 100%;
    }
    .searchbar{
        height: 50px;
    }
    
}
@media screen and (min-width: 950px) {
    #mySidebar{
        display: none;
    }
}
@media screen and (max-width: 950px) {
    .menu-icon{
        display: block;
    }

    .nav-left .link{
        display: none;
    }
   
}
@media screen and (max-width: 600px) {
.toolsfilter>button:last-of-type{
    display: none;
}
.saved{
    display: flex;
}

}
@media screen and (max-width: 500px) {
    .asidebody>.submitbtn{
        height: 47px;
        padding-inline: 10px;
    
    }
}
@media screen and (max-width: 475px) {
.nav-right>.tools span{
    display: none;
}

nav{
    column-gap: 20px;
}
.nav-right{
    column-gap: 15px;
}
.nav-right>.tools i{
    font-size: 20px;
}
.navaside>.asidefooter {
    display: flex;
}
#mySidebar{
    justify-content: space-between;
}
}
@media screen and (max-width: 425px) {
    #mySidebar {
        width: 100%;
        left: -100%;
        max-width: none;
    }
    .section1 {
        width: 84.3%;
    }
    .searchbar {
        margin-top: 25px;
    }
}
@media screen and (max-width: 375px) {
    .asideheader {
        padding-inline: 15px;
    }
    
    .toolscard>.cardcontent {
        padding-left: 13px;
    }
    .toolscard .logo{
        min-width: 74px;
        height: 74px;
    }
    .toolscard .logo>img{
        width: 43px;
        height: 43px;
    }
}
@media screen and (max-width: 320px) {
.nav-right{
    display: none;
}
}